/* -- Import Components -- */
@import url("components/avatar.css");
@import url("components/banner.css");
@import url("components/button.css");
@import url("components/card.css");
@import url("components/dropdown.css");
@import url("components/navbar.css");
@import url("components/scroll.css");
@import url("components/css_forms.css");



h1 {
	/*padding: 100px;*/
	padding-top: 50px;
	font-weight: bolder; 
}

body {	
	background: #e8e8e8;
	font-family: 'Lato', sans-serif;
	/*font-family: 'Poppins', sans-serif;*/
	/*font-weight: bolder;*/
	font-size: 22px;
}

.container {
	padding: 50px;
	background: #FFFFFF;

}

#title {
	/*padding: 20px;*/
	/*padding-top: 20px;*/
	padding-bottom: 20px;

}
