.banner {
	color: white;
	text-align: center;
	/*height: 100vh;*/
	/*background-size: cover !important;*/
	/*display: flex;*/
	align-items: center;
	justify-content: center;
}

.banner h1 {
	font-size: 50px;
	font-weight: bold;
	text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}

.banner p{
	font-size: 25px;
	font-weight: lighter;
	color: rgb(255, 255, 255);
	opacity: 0.6;
	margin-bottom: 30px;
}
