.card {
	border-radius: 8px;
	height: 175px;
	text-shadow: 0 1px 3px rgba(0,0,0,0.6);
	background-size: cover !important;
	background-position: center;
	color: white;
	position: relative;
	padding: 20px;
}

.card-user {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 40px;
	border-radius: 50%
}

.card-category {
	position: absolute;
	top: 10px;
	left: 30px;
	font-size: 15px;
	text-transform: uppercase;
}

.card-description {
	position: absolute;
	bottom: 10px;
	left: 30px;
}

.card-description h2 {
	font-size: 24px;
}

.card-description p {
	font-size: 17px;
	opacity: 0.7px;
	font-weight: lighter;
}

.card-link {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0px;
	width: 100%;
	z-index: 2;
	background: black;
	opacity: 0;

}

.card-link hover{
	opacity: 0.1;
}
