/* Importing Google fonts */
@import url("https://fonts.googleapis.com/css?family=Nunito:300,400,700,800,900");

/* Importing layouts */

@import url("layouts/home.css");

@import url("layouts/blogpost.css");
@import url("layouts/map.css");
@import url("layouts/saas.css");
@import url("layouts/dashboard.css");



body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  font-size: 18px;
  font-weight: 300;
}
p {
  font-weight: lighter;
}
h1, h2, h3 {
  font-family: 'Nunito', sans-serif;
  font-weight: bold;
}
h1 {
  font-size: 30px;
}
h2 {
  font-size: 25px;
  margin-bottom: 20px;
}
h3 {
  font-size: 23px;
}

.navbar-minimal {
  height: 70px;
  background: white;
  box-shadow: 0px -2px 10px rgba(0,0,0,0.3);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbar-minimal img {
  width: 50px;
  height: 50px;
}

