* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	display: flex;
	background: #EAE7E7;
}

.all-card-section {
	width: 640px;
	height: 640px;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	perspective: 1000px;
}

.each-element-card {
	width: calc(25% - 10px);
	height: calc(33.333% - 10px);
	margin: 5px;
	position: relative;
	transform: scale(1);
	transform-style: preserve-3d;
	transition: transform .5s;
	/*background: #FF9900;*/
	/*box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);*/
	/*box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);*/
}

.each-element-card :active {
	/*transform: scale(0.97);*/
	transition: transform .2s;
}

.each-element-card.flip {
	transform:  rotateY(180deg);
	backface-visibility: hidden;
}

 .front-face,
 .back-face {
 	width: 100%;
 	height: 100%;
 	padding: 20px;
 	position: absolute;
 	border-radius: 10px;
 	background: #FF9900;
 	/*backface-visibility: hidden;*/
 }

/*Debug for img size*/
/*img {
	width: 100px;
}
*/
.front-face {	
	transform: rotateY(180deg);
}

/*
.back-face {
	transform: rotateX(90deg);
}*/